Package: io.tjg.sanscvr
Name: sans cvr
Version: 1.0
Architecture: iphoneos-arm
Description: A color-from-artwork compatible CustomCover
Depiction: http://repo.tjg.io/depiction/io.tjg.sanscvr.html
Maintainer: /u/Travis-g
Author: /u/Travis-g
Section: CustomCover
Depends: firmware (>=7.0)
