Package: io.tjg.mnmlcvr
Name: mnml cvr
Version: 1.0
Architecture: iphoneos-arm
Description: A minimal CustomCover cover
Depiction: http://repo.tjg.io/depiction/io.tjg.mnmlcvr.html
Homepage: http://travis-g.deviantart.com/art/release-mod-mnml-cvr-485435541
Maintainer: /u/Travis-g
Author: /u/Travis-g
Section: CustomCover
Depends: firmware (>=7.0)
