Package: io.tjg.compacticonspoluspack
Name: Compacticons Polus Pack
Version: 0.9.0
Architecture: iphoneos-arm
Description: Compacticons for Polus!
  A pack of tatosXL's Compacticons icons converted for use with Polus. The icon designs are *not* my work; all credit goes to tatosXL on DeviantArt. For any "priority" icon porting requests, questions, concerns, etc., please drop me a line on Reddit (/u/travis-g)! Otherwise, more icons to come soon.
Maintainer: /u/travis-g <travisjgrammer@gmail.com>
Author: /u/travis-g <travisjgrammer@gmail.com>
Section: Polus
Depends: firmware (>=7.0), com.a3tweaks.polus
